.body {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}

.loaded {
  transition: opacity .4s;
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar {
  display: flex;
}

.nav {
  font-size: 22px;
  cursor: pointer;
  padding: 20px 40px 20px 0;
  user-select: none;
}

.nav.selected {
  font-weight: bold;
  cursor: default;
}

.logo {
  font-family: 'Times New Roman', Times, serif;
  padding: 20px 65px 20px 0;
  background: no-repeat url('icon.png') right;
  font-size: 26px;
  background-size: contain;
  font-style: italic;
}

.greet-name {
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  text-decoration: underline;
  cursor: pointer;
}

.buttons {
  float: right;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table-container {
  margin-top: 30px;
}
